<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title><%= pageTitle %></title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/form.css" />
		<link rel="stylesheet" href="/css/product.css" />
		<link rel="stylesheet" href="/css/button.css" />
	</head>
	<body>
		<%- include('../shared/navigation.ejs') %>

		<main>
			<form class="product-form" action="/admin/all" method="POST">
				<div class="form-control">
					<label for="Title">Title</label>
					<input type="text" name="title" id="title" />
				</div>
				<div class="form-control">
					<label for="image">Image Url</label>
					<input type="text" name="image" id="image" value=<%= defaultImageUrl
					%> />
				</div>
				<div class="form-control">
					<label for="price">Price</label>
					<input type="number" name="price" id="price" value="9" step=".01" />
				</div>
				<div class="form-control">
					<label for="description">Description</label>
					<textarea name="description" id="description" rows="5">
A very fine book</textarea
					>
				</div>
				<button type="submit">Add Product</button>
			</form>
		</main>
	</body>
</html>
