<header class="main-header">
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/home/i) === 0 ? 'active' : '' %>"
					href="/"
					>Home</a
				>
			</li>
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/add/i) === 0 ? 'active' : '' %>"
					href="/product/add"
					>Add Product</a
				>
			</li>
		</ul>
	</nav>
</header>
