<main>
	<form class="product-form" action="/product/all" method="POST">
		<div class="form-control">
			<label for="Title">Title</label>
			<input type="text" name="title" id="title" />
		</div>
		<button type="submit">Add Product</button>
	</form>
</main>
