.btn {
	display: inline-block;
	font: inherit;
	border: 1px solid #da8c27;
	color: #da8c27;
	background: white;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	padding: 0.5rem 1rem;
	text-decoration: none;
	outline: none;
}

.btn:hover {
	background-color: #da8c27;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
	background-color: #ee8d0e;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
