.form-control {
	margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea {
	display: block;
	width: 100%;
}

.form-control input {
	border: 1px solid #da8c27;
	font: inherit;
	border-radius: 3px;
}

.form-control textarea {
	border: 1px solid #da8c27;
	font: inherit;
	border-radius: 3px;
}

.form-control input:focus,
.form-control textarea:focus {
	outline-style: none;
}
