@import 'main.css';

.product-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
}
.form-control {
	margin: 1rem 0;
}
.form-control label,
.form-control input {
	display: block;
	width: 100%;
}

.form-control input {
	border: 1px solid #da8c27;
	font: inherit;
	border-radius: 3px;
}

button {
	font: inherit;
	border: 0;
	background-color: #da8c27;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	padding: 0.5rem 1rem;
}

button:hover,
button:active {
	background-color: #ee8d0e;
}
